<div id="<%= dom_id endereco %>">
  <p>
    <strong>City:</strong>
    <%= endereco.city %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= endereco.neighborhood %>
  </p>

  <p>
    <strong>Street avenue:</strong>
    <%= endereco.street_avenue %>
  </p>

  <p>
    <strong>Complement:</strong>
    <%= endereco.complement %>
  </p>

  <p>
    <strong>Cep:</strong>
    <%= endereco.cep %>
  </p>

  <p>
    <strong>Paciente:</strong>
    <%= endereco.paciente_id %>
  </p>

</div>
