<div id="<%= dom_id consultum %>">
  <p>
    <strong>Date:</strong>
    <%= consultum.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= consultum.time %>
  </p>

  <p>
    <strong>Medico:</strong>
    <%= consultum.medico_id %>
  </p>

  <p>
    <strong>Paciente:</strong>
    <%= consultum.paciente_id %>
  </p>

</div>
