<p style="color: green"><%= notice %></p>

<h1>Consulta</h1>

<div id="consulta">
  <% @consulta.each do |consultum| %>
    <tr>
      <p>
      <strong>Date:</strong>
      <%= consultum.date %>
      </p>
      <p>
        <strong>Time:</strong>
        <%= consultum.time %>
      </p>
      <p>
        <strong>Médico:</strong>
        <%= consultum.medico.name %>
      </p>
      <p>
        <strong>Paciente:</strong>
        <%= consultum.paciente.name %>
      </p>
      <%= link_to "Show this consultum", consultum %>
    </tr>
  <% end %>
</div>

<%= link_to "New consultum", new_consultum_path %>
