<p id="notice"><%= notice %></p>

<p>
<strong>CONSULTA </strong>
  <strong><%= @consultum.id %></strong>
</p>

<p>
  <strong>Data:</strong>
  <%= @consultum.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @consultum.time %>
</p>

<p>
  <strong>Medico:</strong>
  <%= Medico.find(@consultum.medico_id).name %>
</p>

<p>
  <strong>CRM:</strong>
  <%= Medico.find(@consultum.medico_id).crm %>
</p>

<p>
  <strong>Especialidade:</strong>
  <%= Medico.find(@consultum.medico_id).speciality %>
</p>

<p>
  <strong>Paciente:</strong>
  <%= Paciente.find(@consultum.paciente_id).name %>
</p>

<%= link_to 'Edit', edit_consultum_path(@consultum) %> |
<%= link_to 'Back', consulta_path %>