<div id="<%= dom_id medico %>">
  <p>
    <strong>Name:</strong>
    <%= medico.name %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= medico.birthday %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= medico.cpf %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= medico.email %>
  </p>

  <p>
    <strong>Crm:</strong>
    <%= medico.crm %>
  </p>

  <p>
    <strong>Speciality:</strong>
    <%= medico.speciality %>
  </p>

</div>
